<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Fair Deal | Residential</title>
    <link href="../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--menu-->
    <script src="../js/scripts.js"></script>
    <link href="../css/styles.css" rel="stylesheet">
    <!--//menu-->
    <!--theme-style-->
    <link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Real Home Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="../js/angular.min.js"></script>
</head>
<body>
    <!--header-->
    <div class="navigation">
        <div class="container-fluid">
            <nav class="pull">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="terms.html">Terms</a></li>
                    <li><a href="privacy.html">Privacy</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="header">
        <div class="container">
            <!--logo-->
            <div class="logo">
                <h1><a href="index.html" alt="Fair Deal">
                    <img src="images/logo.png" width="150px;" height="75px;" /></a></h1>
            </div>
            <!--//logo-->
            <div class="top-nav" style="margin-top: 25px;">
                <ul class="right-icons">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="blog.html">Properties</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li><a href="career.html">Careers</a></li>
                    <li><a class="play-icon popup-with-zoom-anim" href="#small-dialog"><i class="glyphicon glyphicon-search"></i></a></li>

                </ul>
                <!--<div class="nav-icon">
				<div class="hero fa-navicon fa-2x nav_slide_button" id="hero">
						<a href="#"><i class="glyphicon glyphicon-menu-hamburger"></i> </a>
					</div>	
				
				<a href="#" class="right_bt" id="activator"><i class="glyphicon glyphicon-menu-hamburger"></i>  </a>
			
			</div>--->
                <div class="clearfix"></div>
                <!---pop-up-box---->

                <link href="../css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
                <script src="../js/jquery.magnific-popup.js" type="text/javascript"></script>
                <!---//pop-up-box---->
                <div id="small-dialog" class="mfp-hide">
                    <!----- tabs-box ---->
                    <div class="sap_tabs">
                        <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                            <ul class="resp-tabs-list">
                                <li class="resp-tab-item " aria-controls="tab_item-0" role="tab"><span>All Homes</span></li>
                                <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>For Sale</span></li>
                                <li class="resp-tab-item" aria-controls="tab_item-2" role="tab"><span>For Rent</span></li>
                                <div class="clearfix"></div>
                            </ul>
                            <div class="resp-tabs-container">
                                <h2 class="resp-accordion resp-tab-active" role="tab" aria-controls="tab_item-0"><span class="resp-arrow"></span>All Homes</h2>
                                <div class="tab-1 resp-tab-content resp-tab-content-active" aria-labelledby="tab_item-0" style="display: block">
                                    <div class="facts">
                                        <div class="login">
                                            <input type="text" value="Search Address, Neighborhood, City or Zip" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search Address, Neighborhood, City or Zip';}">
                                            <input type="submit" value="">
                                        </div>
                                    </div>
                                </div>
                                <h2 class="resp-accordion" role="tab" aria-controls="tab_item-1"><span class="resp-arrow"></span>For Sale</h2>
                                <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
                                    <div class="facts">
                                        <div class="login">
                                            <input type="text" value="Search Address, Neighborhood, City or Zip" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search Address, Neighborhood, City or Zip';}">
                                            <input type="submit" value="">
                                        </div>
                                    </div>
                                </div>
                                <h2 class="resp-accordion" role="tab" aria-controls="tab_item-2"><span class="resp-arrow"></span>For Rent</h2>
                                <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-2">
                                    <div class="facts">
                                        <div class="login">
                                            <input type="text" value="Search Address, Neighborhood, City or Zip" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search Address, Neighborhood, City or Zip';}">
                                            <input type="submit" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script src="../js/easyResponsiveTabs.js" type="text/javascript"></script>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $('#horizontalTab').easyResponsiveTabs({
                                    type: 'default', //Types: default, vertical, accordion           
                                    width: 'auto', //auto or any width like 600px
                                    fit: true   // 100% fit in a container
                                });
                            });
                        </script>
                    </div>
                </div>
                <script>
                    $(document).ready(function () {
                        $('.popup-with-zoom-anim').magnificPopup({
                            type: 'inline',
                            fixedContentPos: false,
                            fixedBgPos: true,
                            overflowY: 'auto',
                            closeBtnInside: true,
                            preloader: false,
                            midClick: true,
                            removalDelay: 300,
                            mainClass: 'my-mfp-zoom-in'
                        });

                    });
                </script>


            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--//-->
    <div class=" banner-buying">
        <div class=" container">
            <h3><span>Residential</span></h3>
            <!--
	<div class="menu-right">
		 <ul class="menu">
			<li class="item1"><a href="#"> Menu<i class="glyphicon glyphicon-menu-down"> </i> </a>
			<ul class="cute">
				<li class="subitem1"><a href="buy.html">Buy </a></li>
				<li class="subitem2"><a href="buy.html">Rent </a></li>
				<li class="subitem3"><a href="buy.html">Hostels </a></li>
				<li class="subitem1"><a href="buy.html">Resale </a></li>
				<li class="subitem2"><a href="loan.html">Home Loan</a></li>
				<li class="subitem3"><a href="buy.html">Apartment </a></li>
				<li class="subitem3"><a href="dealers.html">Dealers</a></li>
			</ul>
		</li>
		</ul>
	</div>-->
            <div class="clearfix"></div>
            <!--initiate accordion-->
            <script type="text/javascript">
                $(function () {
                    var menu_ul = $('.menu > li > ul'),
                           menu_a = $('.menu > li > a');
                    menu_ul.hide();
                    menu_a.click(function (e) {
                        e.preventDefault();
                        if (!$(this).hasClass('active')) {
                            menu_a.removeClass('active');
                            menu_ul.filter(':visible').slideUp('normal');
                            $(this).addClass('active').next().stop(true, true).slideDown('normal');
                        } else {
                            $(this).removeClass('active');
                            $(this).next().stop(true, true).slideUp('normal');
                        }
                    });

                });
            </script>

        </div>
    </div>
    <!--//header-->
    <div class="container">

        <!--price-->
        <div class="price">
            <div class="price-grid">
                <div class="col-sm-4 price-top">
                    <h4>City</h4>
                    <select class="in-drop ddl_city" onchange="loadProjects();">
                        <option value="">Select City</option>
                        <option value="delhi">Delhi</option>
                        <option value="mumbai">Mumbai</option>
                        <option value="hyderabad">Hyderabad</option>
                        <option value="surat">Surat</option>
                    </select>
                </div>
                <div class="col-sm-4 price-top">
                    <h4>Category</h4>
                    <select class="in-drop ddl_category" onchange="loadProjects();">
                        <option value="">Select Category</option>
                        <option value="apartment">Apartment</option>
                        <option value="independenthouse">Independent House</option>
                        <option value="rowhouse">Row House</option>
                        <option value="villa">Villa</option>
                        <option value="builderfloor">Builder Floor</option>
                        <option value="farmhouse">Farm House</option>
                        <option value="penthouse">Penthouse</option>
                    </select>
                </div>
                <div class="col-sm-4 price-top">
                    <h4>Rooms</h4>
                    <select class="in-drop ddl_rooms" onchange="loadProjects();">
                        <option value="">No. of Bedrooms</option>
                        <option value="1">1 BHK</option>
                        <option value="2">2 BHK</option>
                        <option value="3">3 BHK</option>
                        <option value="4">4 BHK</option>
                        <option value="4+">4+ BHK</option>
                    </select>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="price-grid">
                <div class="col-sm-6 price-top1">
                    <h4>Price Range</h4>
                    <ul>
                        <li>
                            <select class="in-drop ddl_pricefrom" onchange="loadProjects();">
                                <option value="">Price From</option>
                                <option value="0">0</option>
                                <option value="5">5 Lacs </option>
                                <option value="10">10 Lacs</option>
                                <option value="15">15 Lacs</option>
                                <option value="20">20 Lacs</option>
                                <option value="25">25 Lacs</option>
                                <option value="30">30 Lacs</option>
                                <option value="35">35 Lacs</option>
                                <option value="40">40 Lacs</option>
                                <option value="45">45 Lacs</option>
                                <option value="50">50 Lacs</option>
                                <option value="55">55 Lacs</option>
                                <option value="60">60 Lacs</option>
                                <option value="65">65 Lacs</option>
                                <option value="70">70 Lacs</option>
                                <option value="75">75 Lacs</option>
                                <option value="80">80 Lacs</option>
                                <option value="85">85 Lacs</option>
                                <option value="90">90 Lacs</option>
                                <option value="95">95 Lacs</option>
                            </select>
                        </li>
                        <span>-</span>
                        <li>
                            <select class="in-drop ddl_priceto" onchange="loadProjects();">
                                <option value="">Price To</option>
                                <option value="5">5 Lacs </option>
                                <option value="10">10 Lacs</option>
                                <option value="15">15 Lacs</option>
                                <option value="20">20 Lacs</option>
                                <option value="25">25 Lacs</option>
                                <option value="30">30 Lacs</option>
                                <option value="35">35 Lacs</option>
                                <option value="40">40 Lacs</option>
                                <option value="45">45 Lacs</option>
                                <option value="50">50 Lacs</option>
                                <option value="55">55 Lacs</option>
                                <option value="60">60 Lacs</option>
                                <option value="65">65 Lacs</option>
                                <option value="70">70 Lacs</option>
                                <option value="75">75 Lacs</option>
                                <option value="80">80 Lacs</option>
                                <option value="85">85 Lacs</option>
                                <option value="90">90 Lacs</option>
                                <option value="95">95 Lacs</option>
                                <option value="100">1 CR</option>
                            </select>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 price-top1">
                    <h4>Area</h4>
                    <ul>
                        <li>
                            <select class="in-drop ddl_areafrom" onchange="loadProjects();">
                                <option value="">Sqmt From</option>
                                <option value="0">0</option>
                                <option value="500">500 Sq Ft</option>
                                <option value="1000">1000 Sq Ft</option>
                                <option value="1500">1500 Sq Ft</option>
                                <option value="2000">2000 Sq Ft</option>
                                <option value="2500">2500 Sq Ft</option>
                                <option value="3000">3000 Sq Ft</option>
                                <option value="3500">3500 Sq Ft</option>
                                <option value="4000">4000 Sq Ft</option>
                                <option value="4500">4500 Sq Ft</option>
                            </select>
                        </li>
                        <span>-</span>
                        <li>
                            <select class="in-drop ddl_areato" onchange="loadProjects();">
                                <option value="">Sqmt To</option>
                                <option value="500">500 Sq Ft</option>
                                <option value="1000">1000 Sq Ft</option>
                                <option value="1500">1500 Sq Ft</option>
                                <option value="2000">2000 Sq Ft</option>
                                <option value="2500">2500 Sq Ft</option>
                                <option value="3000">3000 Sq Ft</option>
                                <option value="3500">3500 Sq Ft</option>
                                <option value="4000">4000 Sq Ft</option>
                                <option value="4500">4500 Sq Ft</option>
                                <option value="5000+">5000+ Sq Ft</option>
                            </select>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!---->

        <div class="container">
            <div id="residential">
                <div id="residentialstruc">
                    <div class="col-md-12" style="margin-bottom: 50px;">
                        <div class="col-md-4 box_2">
                            <a href="property.html?pid=1" class="mask">
                                <img class="img-responsive zoom-img" src="images/property3/1.jpg" />
                            </a>
                            <div class="most-1">
                                <h5><a href="property.html?pid=1">JOHARI APARTMENTS</a></h5>
                                <p>NAIROBI</p>
                            </div>
                        </div>
                        <div class="col-md-4 box_2">
                            <a href="property.html?pid=2" class="mask">
                                <img class="img-responsive zoom-img" src="images/property5/1.jpg" />
                            </a>
                            <div class="most-1">
                                <h5><a href="property.html?pid=1">ZAWADI APARTMENTS</a></h5>
                                <p>BAMBOSA, MOMBASA</p>
                            </div>
                        </div>
                        <div class="col-md-4 box_2">
                            <a href="property.html?pid=3" class="mask">
                                <img class="img-responsive zoom-img" src="images/property5/2.jpg" />
                            </a>
                            <div class="most-1">
                                <h5><a href="property.html?pid=1">PALM TERRACES</a></h5>
                                <p>ENGLISH POINT, MOMBASA</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12" style="margin-bottom: 50px;">
                        <div class="col-md-4 box_2">
                            <a href="property.html?pid=1" class="mask">
                                <img class="img-responsive zoom-img" src="images/property3/1.jpg" />
                            </a>
                            <div class="most-1">
                                <h5><a href="property.html?pid=1">JOHARI APARTMENTS</a></h5>
                                <p>NAIROBI</p>
                            </div>
                        </div>
                        <div class="col-md-4 box_2">
                            <a href="property.html?pid=2" class="mask">
                                <img class="img-responsive zoom-img" src="images/property5/1.jpg" />
                            </a>
                            <div class="most-1">
                                <h5><a href="property.html?pid=1">ZAWADI APARTMENTS</a></h5>
                                <p>BAMBOSA, MOMBASA</p>
                            </div>
                        </div>
                        <div class="col-md-4 box_2">
                            <a href="property.html?pid=3" class="mask">
                                <img class="img-responsive zoom-img" src="images/property5/2.jpg" />
                            </a>
                            <div class="most-1">
                                <h5><a href="property.html?pid=1">PALM TERRACES</a></h5>
                                <p>ENGLISH POINT, MOMBASA</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12" style="margin-bottom: 50px;">
                        <div class="col-md-4 box_2">
                            <a href="property.html?pid=1" class="mask">
                                <img class="img-responsive zoom-img" src="images/property3/1.jpg" />
                            </a>
                            <div class="most-1">
                                <h5><a href="property.html?pid=1">JOHARI APARTMENTS</a></h5>
                                <p>NAIROBI</p>
                            </div>
                        </div>
                        <div class="col-md-4 box_2">
                            <a href="property.html?pid=2" class="mask">
                                <img class="img-responsive zoom-img" src="images/property5/1.jpg" />
                            </a>
                            <div class="most-1">
                                <h5><a href="property.html?pid=1">ZAWADI APARTMENTS</a></h5>
                                <p>BAMBOSA, MOMBASA</p>
                            </div>
                        </div>
                        <div class="col-md-4 box_2">
                            <a href="property.html?pid=3" class="mask">
                                <img class="img-responsive zoom-img" src="images/property5/2.jpg" />
                            </a>
                            <div class="most-1">
                                <h5><a href="property.html?pid=1">PALM TERRACES</a></h5>
                                <p>ENGLISH POINT, MOMBASA</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <!--<div class="top-grid">
            <h3>Projects</h3>
            <div class="grid-at">
                <div class="col-md-3 grid-city">
                    <div class="grid-lo">
                        <a href="buy_residential.html">
                            <figure class="effect-layla">
                                <img class=" img-responsive" src="../images/ce.jpg" alt="img06">
                                <figcaption>
                                    <h4>London</h4>

                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 grid-city">
                    <div class="grid-lo">
                        <a href="buy_residential.html">
                            <figure class="effect-layla">
                                <img class=" img-responsive" src="../images/ce1.jpg" alt="img06">
                                <figcaption>
                                    <h4>Sydney</h4>

                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 grid-city grid-city1">
                    <div class="grid-me">
                        <div class="col-md-8 grid-lo1">
                            <div class=" grid-lo">
                                <a href="buy_residential.html">
                                    <figure class="effect-layla">
                                        <img class=" img-responsive" src="../images/ce2.jpg" alt="img06">
                                        <figcaption>
                                            <h4 class="effect1">New York</h4>

                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 grid-lo2">
                            <div class=" grid-lo">
                                <a href="buy_residential.html">
                                    <figure class="effect-layla">
                                        <img class=" img-responsive" src="../images/ce3.jpg" alt="img06">
                                        <figcaption>
                                            <h4 class="effect2">Rome</h4>

                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="grid-me">
                        <div class="col-md-6 grid-lo3">
                            <div class=" grid-lo">
                                <a href="buy_residential.html">
                                    <figure class="effect-layla">
                                        <img class="img-responsive" src="../images/ce4.jpg" alt="img06">
                                        <figcaption>
                                            <h4 class="effect3">Singapore</h4>

                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 grid-lo4">
                            <div class=" grid-lo">
                                <a href="buy_residential.html">
                                    <figure class="effect-layla">
                                        <img class="img-responsive" src="../images/ce5.jpg" alt="img06">
                                        <figcaption>
                                            <h4 class="effect3">Paris</h4>

                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>-->
    </div>
    <!---->
    <!--premium-project-->
    <!--<div class="premium">
	<div class="pre-top">
		<h5>Lorem Ipsum is simply dummy</h5>
		<p>$7.24 Lacs-4.36 Lacs 2-3 BHK, Lorem Ipsum</p>
	</div>
</div>-->
    <!--//premium-project-->
    <!---->
    <!--<div class="container">
	<div class="future">
		<h3 >Fetured Projects</h3>
			<div class="content-bottom-in">
					<ul id="flexiselDemo1">			
						<li><div class="project-fur">
								<a href="property.html?pid={PROPERTYID}" ><img class="img-responsive" src="{IMAGESRC}" alt="" />	</a>
									<div class="fur">
										<div class="fur1">
		                                    <span class="fur-money">{PRICE}</span>
		                                    <h6 class="fur-name"><a href="property.html?pid={PROPERTYID}">{NAME}</a></h6>
		                                   	<span>Kenya</span>
                               			</div>
			                            <div class="fur2">
			                               	<span>{BHK}</span>
			                             </div>
									</div>					
							</div>
						</li>
					</ul>
					<script type="text/javascript">
					    $(window).load(function () {

					    });
			</script>
			<script type="text/javascript" src="../js/jquery.flexisel.js"></script>
		</div>
	</div>
</div>-->
    <!--footer-->
    <div class="footer">
        <div class="container">
            <div class="footer-top-at">
                <div class="col-md-3 amet-sed">
                    <h4>Our Company</h4>
                    <ul class="nav-bottom">
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="blog.html">For Sale By Owner Blog</a></li>
                        <li><a href="mobile_app.html">Mobile</a></li>
                        <li><a href="terms.html">Terms & Conditions</a></li>
                        <li><a href="privacy.html">Privacy Policy</a></li>
                        <li><a href="blog.html">Blog</a></li>

                    </ul>
                </div>
                <div class="col-md-3 amet-sed ">
                    <h4>Work With Us</h4>
                    <ul class="nav-bottom">
                        <li><a href="residential.html">Real Estate Brokers</a></li>
                        <li><a href="residential.html">Business Development</a></li>
                        <li><a href="residential.html">Affiliate Programs</a></li>
                        <li><a href="contact.html">Sitemap</a></li>
                        <li><a href="career.html">Careers</a></li>
                        <li><a href="feedback.html">Feedback</a></li>
                    </ul>
                </div>
                <div class="col-md-3 amet-sed">
                    <h4>Customer Support</h4>
                    <p>Mon-Fri, 7AM-7PM </p>
                    <p>Sat-Sun, 8AM-5PM </p>
                    <p>177-869-6559</p>
                    <ul class="nav-bottom">
                        <li><a href="#">Live Chat</a></li>
                        <li><a href="faqs.html">Frequently Asked Questions</a></li>
                        <li><a href="suggestion.html">Make a Suggestion</a></li>
                    </ul>
                </div>
                <div class="col-md-3 amet-sed ">
                    <h4>Property Services</h4>
                    <ul class="nav-bottom">
                        <li><a href="residential.html">Residential Property</a></li>
                        <li><a href="residential.html">Commercial Property</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="register.html">Register</a></li>
                        <li><a href="typo.html">Short Codes</a></li>
                    </ul>
                    <ul class="social">
                        <li><a href="#"><i></i></a></li>
                        <li><a href="#"><i class="gmail"></i></a></li>
                        <li><a href="#"><i class="twitter"></i></a></li>
                        <li><a href="#"><i class="camera"></i></a></li>
                        <li><a href="#"><i class="dribble"></i></a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="col-md-4 footer-logo">
                    <h2><a href="index.html">REAL HOME</a></h2>
                </div>
                <div class="col-md-8 footer-class">
                    <p>© 2015 Real Home. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--//footer-->

    <!--<div ng-app='app' ng-controller='mainCtrl'>
    {{ctrlTest}}<hr />
    Ng-Repeat<hr />
    <div ng-repeat="json in myJson">
        <li>{{json}}</li>
    </div>
    <hr />
    Quick-Ng-Repeat<hr />
    <div quick-ng-repeat="json in myJson" quick-repeat-list='myJson'>
        <li>{{json}}</li>
    </div>

    </div>-->
</body>
<script src="../js/taffy-min.js"></script>

<script type="text/javascript">
    var datadb;
    $(document).ready(function () {
        loadJSON();
    });
    function loadJSON() {
        $.ajax({
            url: "data/projects.txt",
            dataType: "text",
            success: function (_data) {
                debugger;
                $("#dbjson").html(_data);
                json = $.parseJSON('[' + _data + ']')[0];
                console.log("Json Data");
                console.log(json);
                var strJson = JSON.stringify(json);
                //datadb = TAFFY(strJson);
                //loadProjects();
                testangularjs(json);
                bindfeaturedproject(json);
            }
        });
    }



    function bindfeaturedproject(json) {
        debugger;
        var properties = json.properties;
        var html = '';
        for (var i = 0; i < properties.length; i++) {
            var property = properties[i];
            for (var j = 0; j < property.propertydetails.length; j++) {
                var pdetail = property.propertydetails[j];
                var pid = /{PROPERTYID}/gi;
                html += $("#flexiselDemo1").html()
					.replace(pid, property.id)
					.replace("{IMAGESRC}", property.propertimage)
					.replace("{NAME}", property.name)
					.replace("{PRICE}", pdetail.ksh + " " + property.kshin)
					.replace("{BHK}", pdetail.br.split("(")[0] + " BR");
            }
        }

        $("#flexiselDemo1").html(html).show();
        $("#flexiselDemo1").flexisel({
            visibleItems: 4,
            animationSpeed: 1000,
            autoPlay: true,
            autoPlaySpeed: 3000,
            pauseOnHover: true,
            enableResponsiveBreakpoints: true,
            responsiveBreakpoints: {
                portrait: {
                    changePoint: 480,
                    visibleItems: 1
                },
                landscape: {
                    changePoint: 640,
                    visibleItems: 2
                },
                tablet: {
                    changePoint: 768,
                    visibleItems: 3
                }
            }
        });
    }
    function testangularjs(json) {
        var properties = json.properties;
        angular.module('app', ['QuickList']).controller('mainCtrl', function ($scope) {
            $scope.ctrlTest = "Applying";
            $scope.myJson = ["mayank1", "mayank2", "mayank3", "mayank4", "mayank5", "mayank6", "mayank7", "mayank8", "mayank9"]
            $scope.jsons = function () {
                console.log('callback called');
            }
        })
    }
    function loadProjects() {
        if (!validate())
            return;
        var city = $('.ddl_city').val();
        var category = $('.ddl_category').val().replace(/\s/g, '').toLowerCase();
        var rooms = $('.ddl_rooms').val();
        var pricefrom = $('.ddl_pricefrom').val();
        var priceto = $('.ddl_priceto').val();
        var areafrom = $('.ddl_areafrom').val();
        var areato = $('.ddl_areato').val();
        var projects = datadb(function () {
            return (city == "" ? this.city != "" : this.city.toLowerCase() == city.toLowerCase() &&
                    (category == "" ? this.category.toLowerCase() != "" : this.category.toLowerCase() == category) &&
                    (rooms == "" ? this.rooms.toLowerCase() != "" : this.rooms.toLowerCase() == rooms) &&
                    (pricefrom == "" ? parseFloat(this.price) >= 0 : parseFloat(this.price) >= pricefrom) &&
                    (priceto == "" ? parseFloat(this.price) >= 0 : parseFloat(this.price) <= priceto) &&
                    (areafrom == "" ? parseFloat(this.area) >= 0 : areafrom == "5000+" ? parseFloat(this.area) > 5000 : parseFloat(this.area) >= areafrom) &&
                    (areato == "" ? parseFloat(this.area) >= 0 : areato == "5000+" ? parseFloat(this.area) < 50000 : parseFloat(this.area) <= areato)
                ) ? true : false;
        });
    }
    function validate() {
        var city = $('.ddl_city').val();
        var category = $('.ddl_category').val();
        var rooms = $('.ddl_rooms').val();
        var pricefrom = $('.ddl_pricefrom').val();
        var priceto = $('.ddl_priceto').val();
        var areafrom = $('.ddl_areafrom').val();
        var areato = $('.ddl_areato').val()
        if (pricefrom != "") {
            if (priceto != "") {
                if (parseInt(pricefrom) > parseInt(priceto)) {
                    alert("Please select end price greater than start price");
                    return false;
                }
            }
        }
        if (areafrom != "") {
            if (areato != "" && areato != "5000+") {
                if (parseInt(areafrom) > parseInt(areato)) {
                    alert("Please select end area greater than start area");
                    return false;
                }
            }
        }

        return true;

    }

</script>
</html>
